@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Helvetica:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fd6f2f;
}

.font-bebas {
    font-family: 'Bebas Neue', sans-serif !important;
}
.font-helvetica {
    font-family: 'Helvetica', sans-serif !important;
}

/* ... le reste de tes styles ... */

.subscribe,
.subscribe * {
    box-sizing: border-box;
}


  
/* Pour la classe fill : */
.fill {
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 6.85px;
    border: 1.71px solid #e7e8f2;
    width: 283.1px; /* ici on utilise 100% width dans React mais fixe dans parent */
    height: 57.08px;
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 16px;
    line-height: 24px;
    color: black;
}

/* Label style pour le texte "Adresse mail" */
.label {
    position: absolute;
    color: #ffebdd;
    opacity: 0.6;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    pointer-events: none;
    user-select: none;
}
